<web-app>
<welcome-file-list>
<welcome-file>input.html</welcome-file>
</welcome-file-list>
<context-param>
<param-name>driver</param-name>
<param-value>oracle.jdbc.driver.OracleDriver</param-value>
</context-param>
<context-param>
<param-name>url</param-name>
<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
</context-param>
<context-param>
<param-name>dbuser</param-name>
<param-value>system</param-value>
</context-param>
<context-param>
<param-name>dbpwd</param-name>
<param-value>cropy</param-value>
</context-param>
<servlet>
<servlet-name>db</servlet-name>
<servlet-class>com.dib.servlet.DBServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>db</servlet-name>
<url-pattern>/dburl</url-pattern>
</servlet-mapping>
</web-app>